<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <!-- <% const title ='Dynamic content' %> declare
        
        <%= title %> binding to html-->
    <%- include('./partials/nav.ejs') %>

    <div class="container">
      <ul class="collection with-header">
        <% if (items.length> 0) {%> 
            <% items.forEach(item=> {%>
        <li class="collection-item">
          <div>
            <%= item.name %> || <%= item.price %>
            <a href="#!" class="secondary-content">
              <i class="material-icons red-text">delete</i>
              <i class="material-icons">edit</i>
            </a>
          </div>
        </li>
        <% }); %> <%} else {%>
        <li class="collection-item">No items</li>
        <% }%>
      </ul>
    </div>

    <!-- add material script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
